@page "/ResetPassword"

@layout LoginLayout

@inject NotificationService notificationService
@inject ISecurity securityManager
@inject NavigationManager navigationManager

<h3> Reset Password </h3>

<EditForm Model="user" OnSubmit="HandleSubmit">
    <div class="card dataForm p-3">
        <div class="row">
            <div class="col-md-4">
                <label for="email"> Email</label>
                <InputText id="email" @bind-Value="user.Email" class="form-control"></InputText>
            </div>
            <div class="col-md-4">
                <label for="loginId">LoginId</label>
                <InputText id="loginId" @bind-Value="user.LoginId" class="form-control"></InputText>
            </div>
            <div class="col-md-4">
                <label for="password">Confirm Password</label>
                <InputText id="password" @bind-Value="user.Password" class="form-control"></InputText>
            </div>
        </div>
        <br />
        <div>
            <button type="submit" class="btn btn-primary m-2">Reset Password</button>
        </div>
    </div>
</EditForm>

@code {

    User user = new User()
    {
    };

    async Task HandleSubmit()
    {
        if (user.LoginId != null && user.Email != null && user.Password != null)
        {
            securityManager.ResetPassword(user.Email, user.LoginId, user.Password);
           // notificationService.SetMessage("Reset Password has been complete successfully");
            navigationManager.NavigateTo("UserList");
        }
        else
        {
           // notificationService.SetMessage("Reset Password Not Complete");
            navigationManager.NavigateTo("/");
        }

    }
}